wsit-maven-plugin/src/test/resources/com/appsec/maven/wsit/util/PingService.xml

<!--

    WSIT Build Tools (http://wsitbt.codeplex.com)

    Copyright (c) 2011 Application Security, Inc.

    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
        Application Security, Inc.

-->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ping/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PingServiceService" targetNamespace="http://ping/">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ping/" schemaLocation="PingServiceService_schema1.xsd"/>
        </xsd:schema>
    </types>
    <message name="ping">
        <part element="tns:ping" name="parameters"/>
    </message>
    <message name="pingResponse">
        <part element="tns:pingResponse" name="parameters"/>
    </message>
    <message name="pingOne">
        <part element="tns:pingOne" name="parameters"/>
    </message>
    <message name="pingOneResponse">
        <part element="tns:pingOneResponse" name="parameters"/>
    </message>
    <message name="pingTwo">
        <part element="tns:pingTwo" name="parameters"/>
    </message>
    <message name="pingTwoResponse">
        <part element="tns:pingTwoResponse" name="parameters"/>
    </message>
    <message name="pingThree">
        <part element="tns:pingThree" name="parameters"/>
    </message>
    <message name="pingThreeResponse">
        <part element="tns:pingThreeResponse" name="parameters"/>
    </message>
    <portType name="PingService">
        <operation name="ping">
            <input message="tns:ping" wsam:Action="http://ping/PingService/pingRequest"/>
            <output message="tns:pingResponse" wsam:Action="http://ping/PingService/pingResponse"/>
        </operation>
        <operation name="pingOne">
            <input message="tns:pingOne" wsam:Action="http://ping/PingService/pingOneRequest"/>
            <output message="tns:pingOneResponse" wsam:Action="http://ping/PingService/pingOneResponse"/>
        </operation>
        <operation name="pingTwo">
            <input message="tns:pingTwo" wsam:Action="http://ping/PingService/pingTwoRequest"/>
            <output message="tns:pingTwoResponse" wsam:Action="http://ping/PingService/pingTwoResponse"/>
        </operation>
        <operation name="pingThree">
            <input message="tns:pingThree" wsam:Action="http://ping/PingService/pingThreeRequest"/>
            <output message="tns:pingThreeResponse" wsam:Action="http://ping/PingService/pingThreeResponse"/>
        </operation>
    </portType>
    <binding name="PingServicePortBinding" type="tns:PingService">
        <wsp:PolicyReference URI="#WSTrustPolicy"/>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ping">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#InputPolicy"/>
            </input>
            <output>
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#OutputPolicy"/>
            </output>
        </operation>
        <operation name="pingOne">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#InputPolicy"/>
            </input>
            <output>
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#OutputPolicy"/>
            </output>
        </operation>
        <operation name="pingTwo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#InputPolicy"/>
            </input>
            <output>
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#OutputPolicy"/>
            </output>
        </operation>
        <operation name="pingThree">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#InputPolicy"/>
            </input>
            <output>
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#OutputPolicy"/>
            </output>
        </operation>
    </binding>
    <service name="PingServiceService">
        <port binding="tns:PingServicePortBinding" name="PingServicePort">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>

