wsit-maven-plugin/src/test/resources/com/appsec/maven/wsit/util/PingServiceWithPolicy.xml

<!--

    WSIT Build Tools (http://wsitbt.codeplex.com)

    Copyright (c) 2011 Application Security, Inc.

    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
        Application Security, Inc.

-->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ping/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PingServiceService" targetNamespace="http://ping/">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ping/" schemaLocation="PingServiceService_schema1.xsd"/>
        </xsd:schema>
    </types>
    <message name="ping">
        <part element="tns:ping" name="parameters"/>
    </message>
    <message name="pingResponse">
        <part element="tns:pingResponse" name="parameters"/>
    </message>
    <message name="pingOne">
        <part element="tns:pingOne" name="parameters"/>
    </message>
    <message name="pingOneResponse">
        <part element="tns:pingOneResponse" name="parameters"/>
    </message>
    <message name="pingTwo">
        <part element="tns:pingTwo" name="parameters"/>
    </message>
    <message name="pingTwoResponse">
        <part element="tns:pingTwoResponse" name="parameters"/>
    </message>
    <message name="pingThree">
        <part element="tns:pingThree" name="parameters"/>
    </message>
    <message name="pingThreeResponse">
        <part element="tns:pingThreeResponse" name="parameters"/>
    </message>
    <portType name="PingService">
        <operation name="ping">
            <input message="tns:ping" wsam:Action="http://ping/PingService/pingRequest"/>
            <output message="tns:pingResponse" wsam:Action="http://ping/PingService/pingResponse"/>
        </operation>
        <operation name="pingOne">
            <input message="tns:pingOne" wsam:Action="http://ping/PingService/pingOneRequest"/>
            <output message="tns:pingOneResponse" wsam:Action="http://ping/PingService/pingOneResponse"/>
        </operation>
        <operation name="pingTwo">
            <input message="tns:pingTwo" wsam:Action="http://ping/PingService/pingTwoRequest"/>
            <output message="tns:pingTwoResponse" wsam:Action="http://ping/PingService/pingTwoResponse"/>
        </operation>
        <operation name="pingThree">
            <input message="tns:pingThree" wsam:Action="http://ping/PingService/pingThreeRequest"/>
            <output message="tns:pingThreeResponse" wsam:Action="http://ping/PingService/pingThreeResponse"/>
        </operation>
    </portType>
    <binding name="PingServicePortBinding" type="tns:PingService">
        <wsp:PolicyReference URI="#Original_WSTrustPolicy"/>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ping">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#Original_InputPolicy"/>
            </input>
            <output>
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#Original_OutputPolicy"/>
            </output>
        </operation>
        <operation name="pingOne">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#Original_InputPolicy"/>
            </input>
            <output>
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#Original_OutputPolicy"/>
            </output>
        </operation>
        <operation name="pingTwo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#Original_InputPolicy"/>
            </input>
            <output>
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#Original_OutputPolicy"/>
            </output>
        </operation>
        <operation name="pingThree">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#Original_InputPolicy"/>
            </input>
            <output>
                <soap:body use="literal"/>
                <wsp:PolicyReference URI="#Original_OutputPolicy"/>
            </output>
        </operation>
    </binding>
    <service name="PingServiceService">
        <port binding="tns:PingServicePortBinding" name="PingServicePort">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>


    <wsp:Policy wsu:Id="Original_WSTrustPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsam:Addressing wsp:Optional="false"/>
                <sc:KeyStore xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" aliasSelector="com.example.KeyConfigurationHandler" callbackHandler="com.example.KeyConfigurationHandler" wspp:visibility="private"/>
                <sc:TrustStore xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" callbackHandler="com.example.TrustConfigurationHandler" wspp:visibility="private"/>
                <sc:ValidatorConfiguration xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" wspp:visibility="private">
                    <sc:Validator classname="com.example.SecurityTokenValidator" name="samlAssertionValidator"/>
                </sc:ValidatorConfiguration>
                <sp:SymmetricBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:SecureConversationToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                                    <wsp:Policy>
                                        <sp:BootstrapPolicy>
                                            <wsp:Policy>
                                                <sp:SymmetricBinding>
                                                    <wsp:Policy>
                                                        <sp:ProtectionToken>
                                                            <wsp:Policy>
                                                                <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                                                                    <sp:RequestSecurityTokenTemplate>
                                                                        <t:TokenType xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512">urn:oasis:names:tc:SAML:2.0:assertion</t:TokenType>
                                                                        <t:KeyType xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</t:KeyType>
                                                                        <t:KeySize xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512">128</t:KeySize>
                                                                    </sp:RequestSecurityTokenTemplate>
                                                                    <wsp:Policy>
                                                                        <sp:RequireInternalReference/>
                                                                        <sp:RequireDerivedKeys/>
                                                                    </wsp:Policy>
                                                                </sp:IssuedToken>
                                                            </wsp:Policy>
                                                        </sp:ProtectionToken>
                                                        <sp:Layout>
                                                            <wsp:Policy>
                                                                <sp:Lax/>
                                                            </wsp:Policy>
                                                        </sp:Layout>
                                                        <sp:IncludeTimestamp/>
                                                        <sp:OnlySignEntireHeadersAndBody/>
                                                        <sp:AlgorithmSuite>
                                                            <wsp:Policy>
                                                                <sp:Basic128/>
                                                            </wsp:Policy>
                                                        </sp:AlgorithmSuite>
                                                    </wsp:Policy>
                                                </sp:SymmetricBinding>
                                                <sp:Wss11>
                                                    <wsp:Policy>
                                                        <sp:MustSupportRefIssuerSerial/>
                                                        <sp:MustSupportRefThumbprint/>
                                                        <sp:MustSupportRefEncryptedKey/>
                                                    </wsp:Policy>
                                                </sp:Wss11>
                                                <sp:Trust13>
                                                    <wsp:Policy>
                                                        <sp:MustSupportIssuedTokens/>
                                                        <sp:RequireClientEntropy/>
                                                        <sp:RequireServerEntropy/>
                                                    </wsp:Policy>
                                                </sp:Trust13>
                                                <sp:EncryptedParts>
                                                    <sp:Body/>
                                                </sp:EncryptedParts>
                                                <sp:SignedParts>
                                                    <sp:Body/>
                                                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                                                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                                                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                                                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                                                </sp:SignedParts>
                                            </wsp:Policy>
                                        </sp:BootstrapPolicy>
                                        <sp:RequireDerivedKeys/>
                                    </wsp:Policy>
                                </sp:SecureConversationToken>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:Wss11 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:MustSupportRefThumbprint/>
                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>
                <sp:Trust13 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:RequireClientEntropy/>
                        <sp:RequireServerEntropy/>
                        <sp:MustSupportIssuedTokens/>
                    </wsp:Policy>
                </sp:Trust13>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
	
    <wsp:Policy wsu:Id="Original_InputPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SignedParts xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
	
	
    <wsp:Policy wsu:Id="Original_OutputPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SignedParts xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>

